**.vs
x64/*
src/include/getopt9/lib/*
src/include/getopt9/src/Release/*
src/include/getopt9/src/x64/*
*.swp
*/*.o
*/*/*.o
lib/*.o
external/*.o
*/gsufsort
*/gsufsort-64
*/findmem
*/findmem-64
*/uniquemem_A
*/uniquemem_B
*/clustergen
*.aps
obj/*
bin/*
swap/*
**.vscode
src/test/blockaligner/mt1x.fasta
*.pyc
*__pycache__*